<%- include('../../partials/header'); -%>
<%- include('../../partials/nav'); -%>

<div class="searchBarResults">
  <%- include('../../partials/searchBar') -%>
</div>

<section>
  <%- include('../../partials/noresults', {recipes: recipes}); -%>
  <% recipes.forEach( recipe => { %>
    <%- include('../../partials/itemFull', {recipe: recipe}); -%>
  <% }); %>
</section>

<%- include('../../partials/footer'); -%>