<%- include('../../partials/header'); -%>
<%- include('../../partials/nav'); -%>

<section>
  <%- include('../../partials/noresults', {recipes: recipes}); -%>
  <% recipes.forEach( recipe => { %>
    <%- include('../../partials/itemFull', {recipe: recipe}); -%>
  <% }); %>
</section>

<%- include('../../partials/footer'); -%>