<%- include('partials/header'); -%>
<%- include('partials/nav') -%>
<main>

  <form action="/search/results" method="GET">
    <input type="text" name="searchBar" class="searchbar" />
    <input type="submit" value="search!" />
  </form>


  <section>
<<<<<<< HEAD
=======
    <h2>All Recipes </h2>
    <%- include('partials/noresults', {recipes: recipes}); -%>
>>>>>>> 26eb0696cd8781ba8b0b1f0c8b40a0d949f949e5
    <% recipes.forEach( recipe => { %>
    <%- include('partials/itemFull', {recipe: recipe}); -%>

    <% }); %>

  </section>
</main>
<%- include('partials/footer'); -%>