<%- include('partials/header'); -%>
<%- include('partials/nav') -%>
<main>
    
<%- include('partials/searchBar') -%>


  <section>
    <h2>All Recipes </h2>
    <% recipes.forEach( recipe => { %>
    <%- include('partials/itemFull', {recipe: recipe}); -%>
    
    <% }); %>

  </section>
</main>
<%- include('partials/footer'); -%>