<%- include('partials/header'); -%>

<header class="clearfix">
  <section class="heading-group-h1">
    <h1>Lunch Now</h1>
  </section>
  <%- include('partials/nav') -%>
</header>
<main>
    <form action="/search_results" method="GET">
      <input type="text" name="searchBar" />
      <input type="submit" value="search!" />
    </form>
  <section>
    <h2>All Recipes </h2>
    <% recipes.forEach( recipe => { %>
      <div>
        <form action="/recipes" method="post">
          <input type="hidden" name="recipe_id" value="<%= recipe.id %>">  
          <img src = "<%= recipe.image_url %>"/>
          <input type="submit" value="Save" />
          
        </form>
      </div>
      <% }); %>
    
  </section>
</main>
<%- include('partials/footer'); -%>
