<%- include('partials/header'); -%>
<%- include('partials/nav') -%>
<main>

  <div class="searchBarContainer">
    <%- include('partials/searchBar') -%>
  </div>

  <section class="main-deck">
    <%- include('partials/noresults', {recipes: recipes}); -%>
    <% recipes.forEach( recipe => { %>
      <%- include('partials/itemFull', {recipe: recipe}); -%>
    <% }); %>
  </section>

</main>
<%- include('partials/scripts') -%>
<%- include('partials/footer'); -%>