<%- include('partials/header'); -%>
<%- include('partials/nav') -%>
<main>
    
<%- include('partials/searchBar') -%>
<div>
  <img class="home-img" src="./styles/assets/salad.jpg">
</div>
  <section>
    <h2>All Recipes </h2>
    <%- include('partials/noresults', {recipes: recipes}); -%>
    <% recipes.forEach( recipe => { %>
    <%- include('partials/itemFull', {recipe: recipe}); -%>

    <% }); %>

  </section>
</main>
<%- include('partials/footer'); -%>