<%- include('../partials/header'); -%>
<%- include('../partials/nav'); -%>
<main>
  <section id="error" class="error-content">
    <h1>
      Error -
      <%= code %>
    </h1>
    <p class="message">
      <%= message %>
    </p>
  </section>
</main>
<%- include('../partials/footer'); -%>