<%- include('../../partials/header'); -%>
<%- include('../../partials/nav'); -%>

<div class="searchBarFavorites">
  <%- include('../../partials/searchBar') -%>
</div>

<section>
  <% recipes.forEach( recipe => { %>
    <%- include('../../partials/itemFull', {recipe: recipe}); -%>
  <% }); %>
</section>

<%- include('../../partials/footer'); -%>